.section {
    width: 90%;
    max-width: 550px;
    margin: 75px auto;
    padding: 2rem;
    background: #d5c0e9;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: #f599f0cc;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section input {
    width: 100%;
    min-height: 2.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
    padding: 0.6rem;
    box-sizing: border-box;
}

.section input:focus {
    border-color: #dc4cef;
    box-shadow: 0 0 5px rgba(152, 76, 239, 0.5);
}

.section button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    background: #984cef;
    color: rgb(252, 197, 244);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.section button:hover {
    background: #ad3adb;
}

.lista-tareas {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-tareas li {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 8px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.lista-tareas li:nth-child(even) {
    background: #eac7f3;
}

.btn-eliminar {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background: #e42b2b;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-eliminar:hover {
    background: #c0392b;
}